@import url("https://use.typekit.net/wjx1lpn.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  outline: transparent;
}

button {
  outline: transparent;
}

.btn {
  display: inline-block;
  padding: 2.5rem 4rem;
  background: none;
  border: 1px solid transparent;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-family: inherit;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s background-color;
  transition: .2s background-color;
}

.btn--primary {
  background-color: #241381;
}

.btn--primary:hover {
  background-color: #1e106b;
}

.btn--primary {
  background-color: #241381;
}

.btn--primary:hover {
  background-color: #1e106b;
}

.btn--success {
  background-color: #442EBA;
}

.btn--success:hover {
  background-color: #3d29a6;
}

.btn--s {
  padding: 1.25rem 2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 10px #fff, 0 5px 12px 0 #fff;
          box-shadow: 0 0 12px 10px #fff, 0 5px 12px 0 #fff;
  z-index: 2;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.logo {
  display: block;
}

.logo__img {
  height: 48px;
}

.menu__btn {
  display: block;
  cursor: pointer;
}

.menu__list {
  position: absolute;
  top: 60px;
  right: 27px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  list-style: none;
  background-color: #241381;
  -webkit-box-shadow: 0 4px 8px 0 rgba(18, 74, 138, 0.24);
          box-shadow: 0 4px 8px 0 rgba(18, 74, 138, 0.24);
}

.menu__list--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: block;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.menu__link:active {
  color: #B6A9FE;
}

@media (min-width: 768px) {
  .nav {
    position: static;
    padding: 3rem;
  }
  .nav-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .logo__img {
    height: 60px;
  }
  .menu__btn {
    display: none;
  }
  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 45%;
    padding: 0 2.7rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu__link {
    padding: 4.4rem 1.7rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #B6A9FE;
  }
  .menu__link:hover {
    color: #FFFFFF;
  }
  .menu__link:active {
    color: #B6A9FE;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  margin-top: 10rem;
  text-align: center;
}

.intro {
  margin-bottom: 3rem;
  color: #0F0F2B;
}

.intro__title {
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.6rem;
  line-height: 111%;
  margin-bottom: 2rem;
}

.intro__description {
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}

.header-animation {
  height: 500px;
  background-color: rgba(0, 162, 255, 0.192);
  background-image: url("../assets/programming-head.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  .intro {
    width: 50%;
    max-width: 600px;
    padding: 5rem;
    margin-bottom: 0;
  }
  .intro__title {
    font-size: 5.6rem;
  }
  .intro__description {
    font-size: 1.8rem;
  }
  .header-animation {
    width: 45%;
  }
}

.main__title {
  margin-bottom: 2rem;
  font-size: 4.6rem;
  line-height: 111%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.main-container {
  padding: 2rem;
  max-width: 144rem;
  margin: 0 auto;
}

.courses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-item {
  padding: 3rem 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.card {
  color: #0F0F2B;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.card:hover .card__course-title {
  text-decoration: underline;
}

.card__head {
  position: relative;
  height: 20rem;
  background-image: url("../assets/c-part1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__head .card__tag {
  position: absolute;
  left: -15px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  color: #000;
  background-color: transparent;
  font-weight: bold;
}

.card__head .card__tag i {
  margin-right: 1rem;
  font-size: 2rem;
}

.card__head .card__tag--hot-offer {
  background-color: #FF8364;
}

.card__head .card__tag--free {
  background-color: #FFD054;
}

.card__head .card__tag--comming-soon {
  background-color: #29b2f7;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 26.5rem;
  padding: 3rem 2.5rem 2rem;
  background-color: #f8f8f9;
}

.card__body .card__title .card__theme {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #8e8e93;
  font-weight: bold;
}

.card__body .card__title .card__course-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.card__body .card__title .card__description {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #1c1c51;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__footer .card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
}

.card__footer .card__prices .new-price {
  margin-bottom: 0.25rem;
  font-size: 3rem;
}

.card__footer .card__prices .old-price {
  font-size: 1.6rem;
  color: #8e8e93;
  text-decoration: line-through;
}

@media (min-width: 46rem) {
  .course-item {
    width: 50%;
    padding: 3rem 2rem;
  }
}

@media (min-width: 76.8rem) {
  .course-item {
    width: 33.333%;
  }
}

.footer {
  background-color: #241381;
}

.newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5rem 3.5rem 6rem;
  color: #FFFFFF;
}

.outro {
  max-width: 30rem;
  margin-bottom: 3rem;
}

.outro .circle {
  position: relative;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  margin-bottom: 3rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-animation: circle-pulse 2s infinite;
          animation: circle-pulse 2s infinite;
}

.outro__title {
  margin-bottom: 3rem;
  font-size: 4.6rem;
  line-height: 111%;
  font-weight: bold;
}

.outro__description {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
}

.newsletter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter__input {
  padding: 2.5rem 3rem;
  margin: 0 2rem 1rem;
  font-size: 1.8rem;
}

.newsletter__input::-webkit-input-placeholder {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #0F0F2B;
  opacity: .7;
}

.newsletter__input:-ms-input-placeholder {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #0F0F2B;
  opacity: .7;
}

.newsletter__input::-ms-input-placeholder {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #0F0F2B;
  opacity: .7;
}

.newsletter__input::placeholder {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #0F0F2B;
  opacity: .7;
}

.newsletter__info {
  margin-top: 2rem;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.4rem;
  color: #B6A9FE;
  opacity: 0.7;
  text-align: center;
}

@media (min-width: 768px) {
  .newsletter {
    padding: 10rem 7rem 12.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .outro {
    margin-bottom: 0;
    min-width: 44rem;
  }
  .outro__title {
    font-size: 5.6rem;
  }
  .outro__description {
    font-size: 1.8rem;
  }
  .newsletter-box label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .newsletter__input {
    margin-bottom: 0;
  }
  .newsletter__info {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes circle-pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes circle-pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
/*# sourceMappingURL=style.css.map */