@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$font-family:'Nunito Sans',
sans-serif;


@mixin normal-font {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
}

@mixin bold-font {
    font-family: $font-family;
    font-weight: 700;
    font-style: normal;
}

@mixin italic-font {
    font-family: $font-family;
    font-weight: 400;
    font-style: italic;
}