.header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 10rem;
    text-align: center;
}

.intro {
    margin-bottom: 3rem;
    color: $dark-font;

    &__title {
        @include bold-font;
        margin-bottom: 2rem;
        font-size: 4.6rem;
        line-height: 111%;
    }

    &__description {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.7rem;
    }
}

.header-animation {
    height: 500px;
    background-color: rgba(0, 162, 255, 0.192);
    background-image: url('../assets/programming-head.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width:768px) {

    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 10rem;
        margin-bottom: 2rem;
        text-align: left;
    }

    .intro {
        width: 50%;
        max-width: 600px;
        padding: 5rem;
        margin-bottom: 0;

        &__title {
            font-size: 5.6rem;
        }

        &__description {
            font-size: 1.8rem;
        }
    }

    .header-animation {
        width: 45%;
    }
}