.main {}

.main__title {
    margin-bottom: 2rem;
    font-size: 4.6rem;
    line-height: 111%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.main-container {
    padding: 2rem;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
}

.course-item {
    padding: 3rem 0;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.card {
    color: $dark-font;
    cursor: pointer;
    transition: box-shadow .3s;



    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
            0 10px 10px rgba(0, 0, 0, 0.10);

        .card__course-title {
            text-decoration: underline;
        }
    }

    &__head {
        position: relative;
        height: 20rem;
        background-image: url(/assets/c-part1.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;

        .card__tag {
            position: absolute;
            left: -15px;
            top: 12px;
            display: flex;
            align-items: center;
            padding: 1rem;
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
            font-size: 1.3rem;
            color: $dark-font;
            background-color: $danger-color;


            i {
                margin-right: 1rem;
                font-size: 2rem;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 26.5rem;
        padding: 3rem 2.5rem 1rem;
        background-color: $light-gray-color;

        .card__title {

            .card__theme {
                margin-bottom: 1rem;
                font-size: 1.3rem;
                color: $gray-font;
                font-weight: bold;
            }

            .card__course-title {
                margin-bottom: 2rem;
                font-size: 3rem;
                font-weight: bold;
            }

            .card__description {
                margin-bottom: 2rem;
                font-size: 1.6rem;
                color: lighten($color: $dark-font, $amount: 10%);
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card__prices {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-weight: bold;

            .new-price {
                margin-bottom: 0.25rem;
                font-size: 3rem;
            }

            .old-price {
                font-size: 1.6rem;
                color: $gray-font;
                text-decoration: line-through;
            }
        }
    }
}

@media (min-width: 40rem) {
    .course-item {
        width: 50%;
        padding: 3rem 2rem;
    }
}

@media (min-width: 56rem) {
    .course-item {
        width: 33.333%;
    }
}