.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 12px 10px #fff,
        0 5px 12px 0 #fff;
    z-index: 2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    display: block;

    &__img {
        height: 4.8rem;
    }
}

.menu__btn {
    display: block;
    cursor: pointer;
}

.menu__list {
    position: absolute;
    top: 60px;
    right: 27px;
    display: none;
    flex-direction: column;
    text-align: center;
    list-style: none;
    background-color: $primary-color;
    box-shadow: 0 4px 8px 0 rgba(18, 74, 138, .24);

    &--active {
        display: flex;
    }
}

.menu__link {
    display: block;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    color: $light-font;
    text-decoration: none;
    transition: color .2s;

    &:active {
        color: $link-font;
    }
}


@media (min-width: 768px) {
    .nav {
        position: static;
        padding: 3rem;
    }

    .nav-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .logo__img {
        height: 6rem;
    }

    .menu__btn {
        display: none;
    }

    .menu__list {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 45%;
        padding: 0 2.7rem;
        box-shadow: none;
    }

    .menu__link {
        padding: 4.4rem 1.7rem;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $link-font;

        &:hover {
            color: $light-font;
        }

        &:active {
            color: $link-font;
        }
    }
}