* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    @include normal-font;
    min-height: 300vh;
}

input {
    outline: transparent;
}