$primary-color:#241381;
$secondary-color:#FFFFFF;
$success-color:#442EBA;
$light-font: #FFFFFF;
$dark-font:#0F0F2B;
$link-font:#B6A9FE;
$gray-font:#8e8e93;
$light-gray-color: #f8f8f9;
$danger-color:#FF8364;